<footer class="footer-top">
  <div class="social-icons">
      <a href="https://www.instagram.com/frisbillanas/" title="https://www.instagram.com/frisbillanas/"><img src="../../../../assets/img/iconos/instagram-blc.png" alt="Instagram"></a>
      <a href="https://m.facebook.com/groups/39805903499?ref=bookmarks" title="https://m.facebook.com/groups/39805903499?ref=bookmarks"><img src="../../../../assets/img/iconos/facebook-blc.png" alt="Facebook"></a>
      <a href="https://www.youtube.com/@frisbillanas" title="https://www.youtube.com/@frisbillanas"><img src="../../../../assets/img/iconos/youtube-blc.png" alt="YouTube"></a>
      <a href="https://ig.me/m/frisbillanas" title="https://ig.me/m/frisbillanas"><img src="../../../../assets/img/iconos/mensaje-blc.png" alt="Email"></a>
  </div>
</footer>
<footer class="footer-bottom">
  <p>Desarrollado por:  Juan Alberto Barba Aguilar  </p>
  <p>jalbertobarba1997@gmail.com</p>
</footer>

