<body>
  <app-cabecera></app-cabecera>
  <body>


      <div class="contenido" *ngIf="novedad">

        <div class="titulo"><h2>{{novedad.tittle}}</h2></div>
        <div class="fecha"><h4>{{novedad.created_at}}</h4></div>


        <img *ngIf="novedad.file ; else imagenPorDefecto" width="600px" height="380px" src="{{URLGetImage+novedad.file}}" alt="Imagen de Noticia"  onerror="this.src='../../../../assets/img/noticia_default.jpg'" >

        <ng-template #imagenPorDefecto>
          <img width="400px" height="264px" src="../../../../assets/img/noticia_default.jpg" alt="Imagen de Noticia">
        </ng-template>

        <div class="resumen">

          <div class="descripcion"><p>{{novedad.text}}</p></div>

      </div>
    </div>

    <app-footer></app-footer>
</body>







</body>



