<app-cabecera></app-cabecera>
<br>

<div id="accordion" class="acordeon">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link texto_rosaoscuro" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Lanzamientos
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body fondo_oscuro" >
        <ul class="list-group list-group-flush" >
          <li class="list-group-item tarjeta fondo_oscuro">
            <div style="display: flex; " >

            <img width="400px" src="../../../../assets/img/contenido/lanzamientos/How-to-backhand-a-frisbee.webp"
                style=" border: 1px solid black; text-align: center;"  alt="Imagen de Avatar"
              onerror="this.src='../../../../assets/img/iconos/usuario-40.png'">

              <div class="texto izquierda">
                  <div class="tittle"><strong> 1. Backhand</strong> </div>
                  <div class="resumen"> El backhand es el primer tiro que vas a aprender. Para lanzar el backhand: poné el pulgar en la parte de arriba del frisbee apuntando hacia el centro. El resto de los dedos irán pegados al borde interior del disco. La estabilidad y la potencia del tiro serán una combinación del movimiento de la muñeca, el hombro y el brazo. Al avanzar en la técnica, el jugador usa todo el cuerpo para acompañar el tiro y darle más potencia. El disco sale por el lado contrario del brazo que estás usando (si eres diestro, el disco saldrá por la izquierda).</div>
                  <div class="enlace"> <a class="texto_rosa" href="https://ultimatefrisbeehq.com/ultimate-frisbee-throws/"> Ver video explicativo</a> </div>
              </div>
            </div>
          </li>
          <li class="list-group-item tarjeta fondo_oscuro">
            <div style="display: flex; ">

              <img width="300px" src="../../../../assets/img/contenido/lanzamientos/How-to-forehand.webp"
                  style=" border: 1px solid black; text-align: center;"  alt="Imagen de Avatar"
                  onerror="this.src='../../../../assets/img/iconos/usuario-40.png'">
              <div class="texto izquierda" >
                  <div class="tittle"><strong> 2. Forehand o Flick</strong> </div>
                  <div class="resumen"> Lanzamiento indispensable en el Ultimate. La potencia del tiro viene del fugaz movimiento generado desde la muñeca y el antebrazo. La clave de este tiro es dar el efecto correcto con la muñeca. En este caso, la palma de la mano va hacia arriba. Nuevamente el pulgar se apoya en la parte superior del disco apuntando hacia el centro, y solo el índice y el dedo medio se colocan en el borde interno del disco; ellos son los que le darán el giro al mismo. El disco sale por el mismo lado del brazo con el que estás lanzando (si eres diestro, saldrá por la derecha).</div>
                  <div class="enlace"> <a class="texto_rosa" href="https://ultimatefrisbeehq.com/ultimate-frisbee-throws/"> Ver video explicativo</a> </div>
              </div>

            </div>
          </li>

          <li class="list-group-item tarjeta fondo_oscuro">
          <div style="display: flex; ">
            <img width="340px" src="../../../../assets/img/contenido/lanzamientos/How-to-hammer.webp"
              style=" border: 1px solid black; text-align: center;"  alt="Imagen de Avatar"
            onerror="this.src='../../../../assets/img/iconos/usuario-40.png'">
            <div class="texto izquierda">
                <div class="tittle"><strong> 3. Hammer</strong> </div>
                <div class="resumen"> El hammer es un lanzamiento alternativo a los dos anteriores. Su peculiaridad es que vuela invertido, describiendo una parábola pronunciada, lo que sirve para volar por encima de defensores que estén entre el lanzador y el destino objetivo. El agarre del disco es el mismo que en el forehand, pero en vez de lanzarlo plano y paralelo al suelo, se saca invertido y por sobre la cabeza (si sos diestro, el disco saldrá por tu izquierda).</div>
                <div class="enlace"> <a class="texto_rosa" href="https://ultimatefrisbeehq.com/ultimate-frisbee-throws/"> Ver video explicativo</a> </div>
            </div>

          </div>
        </li>



        <li class="list-group-item tarjeta fondo_oscuro">
          <div style="display: flex; ">
            <img width="340px" src="../../../../assets/img/contenido/lanzamientos/How-to-high-release-backhand.webp"
              style=" border: 1px solid black; text-align: center;"  alt="Imagen de Avatar"
            onerror="this.src='../../../../assets/img/iconos/usuario-40.png'">
            <div class="texto izquierda">
                <div class="tittle"><strong> 4. Higth</strong> </div>
                <div class="resumen"> El high es un lanzamiento alternativo a los dos anteriores. Su peculiaridad es que vuela invertido, describiendo una parábola pronunciada, lo que sirve para volar por encima de defensores que estén entre el lanzador y el destino objetivo. El agarre del disco es el mismo que en el forehand, pero en vez de lanzarlo plano y paralelo al suelo, se saca invertido y por sobre la cabeza (si sos diestro, el disco saldrá por tu izquierda).</div>
                <div class="enlace"> <a class="texto_rosa" href="https://ultimatefrisbeehq.com/ultimate-frisbee-throws/"> Ver video explicativo</a> </div>
            </div>

          </div>
        </li>



        <li class="list-group-item tarjeta fondo_oscuro">
          <div style="display: flex; ">
            <img width="340px" src="../../../../assets/img/contenido/lanzamientos/How-to-chiken.webp"
              style=" border: 1px solid black; text-align: center;"  alt="Imagen de Avatar"
            onerror="this.src='../../../../assets/img/iconos/usuario-40.png'">
            <div class="texto izquierda">
                <div class="tittle"><strong> EXTRA:  Chicken throw</strong> </div>
                <div class="resumen"> El Chicken es un lanzamiento alternativo a los dos anteriores. Su peculiaridad es que vuela invertido, describiendo una parábola pronunciada, lo que sirve para volar por encima de defensores que estén entre el lanzador y el destino objetivo. El agarre del disco es el mismo que en el forehand, pero en vez de lanzarlo plano y paralelo al suelo, se saca invertido y por sobre la cabeza (si sos diestro, el disco saldrá por tu izquierda).</div>
                <div class="enlace"> <a class="texto_rosa" href="https://ultimatefrisbeehq.com/ultimate-frisbee-throws/"> Ver video explicativo</a> </div>
            </div>

          </div>
        </li>





        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading2">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed texto_rosaoscuro" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Formaciones y posicionamiento
        </button>
      </h5>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
      <div class="card-body fondo_oscuro">
        Formaciones y posicionamiento
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed texto_rosaoscuro" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Estrategias de juego
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body fondo_oscuro">
        Estrategias de juego
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

