

<!-- Replicar curso grid layout-->
<body>
  <app-cabecera></app-cabecera>

  <div class="grid-layout">


      <div class="contenido carrusel">
        <app-carrousel></app-carrousel>
        <!--c-carousel (itemChange)="onItemChange($event)" [interval]="5000" transition="slide">
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img
                [src]="slide.src"
                alt="{{slide.title}}"
                class="d-block w-100"
                loading="lazy"
              />
            </c-carousel-item>
          </c-carousel-inner>
        </!--c-carousel-->



      </div>
      <div class="contenido noticias">
        <h4><u>Ultimas novedades </u></h4>
        <ul>
          <li *ngFor="let novedad of novedades"> {{novedad.tittle}}</li>
        </ul>


      </div>
      <div class="contenido torneos">
        <h4><u>Siguiente torneo </u></h4>
          <img src="../../../../assets\img\Chiripones_cartel2023.jpg" width="300px">
          <p>

            <strong style="font-size: 20px;">CHIRIPONES 2023</strong><span>&#x2600;&#xfe0f;</span>  <br>
            <br>
            <span class="texto_rosa">Fecha:</span><strong> 2 de Diciembre </strong> <br>
            <span class="texto_rosa">Localizalización :</span><strong> Punta Umbría </strong> <br><br>

            Ya están abiertas las inscripciones de Chiripones 2023!! <br>
            Un Mai Tai mientras esperas a jugar, un mojito para después de un partido, un Bloody Mary en el África...
            <span> &#127865;
            </span>

            <br><br>

            <strong>¿Aún no te has inscrito? Todavía puedes hacerlo! </strong>¿Aún no te has inscrito? Todavía puedes hacerlo!
            <br> <br> <br>


            <a routerLink="/jugadores/torneos"> <u class="texto_rosa"> Ver proximos torneos</u> </a>
            <br><br>
          </p>



      </div>
      <div class="contenido footer"> <app-footer></app-footer> </div>



  </div>

</body>

