@import "~bootstrap/dist/css/bootstrap.css";

body{
  background-color: rgb(33, 32, 32);
}

.grid-layout{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto auto auto;

  background-color: rgb(33, 32, 32);


}

.contenido{
  background-color: rgb(255, 255, 255);

  text-align: left;
  color:white;

}
.carrusel{
  grid-column:1 / span 2;
  background-color: rgba(255, 255, 255, 0);


}



.noticias{

  background-color: rgb(33, 32, 32);


  padding-left: 80px;
  padding-top: 40px;

}

.torneos{

  background-color: rgb(33, 32, 32);
  border: 1px solid black;

  padding-top: 40px;
  text-align: center;


}
.torneos p{

  padding-top: 8px;
  padding-left: 10%;
  padding-right: 10%;
}

h4{
  font-family: "Adam bold";
  padding-bottom: 8px;
}



.footer{
  grid-column:1 / span 2;
  background-color: rgb(1, 7, 3);
  border: 1px solid black;

}
