@import "~bootstrap/dist/css/bootstrap.css";

body{
  background-color: rgb(33, 32, 32);
}

.grid-layout{
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-rows: auto auto auto;

  background-color: rgb(33, 32, 32);


}

.contenido{
  background-color: rgb(255, 255, 255);

  text-align: left;
  color:white;

}
.carrusel{
  grid-column:1 / span 2;
  background-color: rgba(255, 255, 255, 0);


}



.noticias{

  background-color: rgb(33, 32, 32);


  padding-left: 60px;
  padding-top: 40px;
  padding-right: 60px;

}

.torneos{

  background-color: rgb(33, 32, 32);
  border: 1px solid black;

  padding-top: 40px;
  text-align: center;


}
.torneos p{

  padding-top: 8px;
  padding-left: 10%;
  padding-right: 10%;

}

h4{
  font-family: "Adam bold";
  padding-bottom: 8px;
}



.footer{
  grid-column:1 / span 2;
  background-color: rgb(1, 7, 3);
  border: 1px solid black;

}

/* Estilos para los divs de noticias */
.noticia{
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 20px;

}

.noticia-derecha{
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 20px;
  margin-right: 20px;
}
.noticia-derecha .resumen{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 24px;
  text-align: justify;
}
.noticia-derecha h6{
  font-size: 24px;
  text-align: right;
  margin-bottom: 16px;
}
.noticia h6{
  font-size: 24px;
  text-align: left;
  margin-bottom: 16px;
}


.resumen{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 24px;
  text-align: justify;
  margin-top: 4px;
}

ul{
  list-style-type: none;
}


