

<!-- Replicar curso grid layout-->
<body>
  <app-cabecera></app-cabecera>

  <div class="grid-layout">


      <div class="contenido carrusel">
        <app-carrousel></app-carrousel>


      </div>
      <div class="contenido noticias">
        <h4><u>Ultimas novedades </u></h4>
        <!--ul class="listado-noticia">
          <li *ngFor="let novedad of novedades"  >
            <div class="noticia">
              <div >
                  <img width="350px" src="../../../../assets/img/noticia_default.jpg" alt="Imagen de Noticia 1">
              </div>
              <div class="resumen">
                  <div class="titulo"><h6>{{novedad.tittle}}</h6></div>
                  <div class="descripcion">{{ novedad.text | slice:0:350 }}
                    {{ novedad.text.length > 350 ? '...' : '' }}</div>
              </div>
          </div>
          </li>
        </!--ul-->

        <div class="noticia" *ngIf="novedades && novedades.length > 0">
          <a [routerLink]="['/jugadores/novedad', (novedades[0]._id)]">
            <div >
              <img *ngIf="novedades[0].file ; else imagenPorDefecto" width="400px" height="264px" src="{{URLGetImage+novedades[0].file}}" alt="Imagen de Noticia"  onerror="this.src='../../../../assets/img/noticia_default.jpg'" >
              <ng-template #imagenPorDefecto>
                <img width="400px" height="264px" src="../../../../assets/img/noticia_default.jpg" alt="Imagen de Noticia">
              </ng-template>
            </div>
            <div class="resumen">
                <div class="titulo"><h6>{{novedades[0].tittle}}</h6></div>
                <div class="descripcion">{{ novedades[0].text | slice:0:350 }}
                  {{ novedades[0].text.length > 350? '...' : '' }}</div>
            </div>
          </a>
        </div>

        <div class="noticia-derecha" *ngIf="novedades && novedades.length > 1">
          <a [routerLink]="['/jugadores/novedad', (novedades[1]._id)]">
            <div class="resumen">
                <div class="titulo"><h6>{{novedades[1].tittle}}</h6></div>
                <div class="descripcion">{{ novedades[1].text | slice:0:350 }}
                  {{ novedades[1].text.length > 350 ? '...' : '' }}</div>
            </div>
            <div >
              <img *ngIf="novedades[1].file ; else imagenPorDefecto" width="400px" height="264px" src="{{URLGetImage+novedades[1].file}}" alt="Imagen de Noticia"  onerror="this.src='../../../../assets/img/noticia_default.jpg'" >

              <ng-template #imagenPorDefecto>
                <img width="400px" height="264px" src="../../../../assets/img/noticia_default.jpg" alt="Imagen de Noticia">
              </ng-template>
            </div>
          </a>
        </div>

        <div class="noticia"  *ngIf="novedades && novedades.length > 2">
          <a [routerLink]="['/jugadores/novedad', (novedades[2]._id)]">
            <div >
              <img *ngIf="novedades[2].file ; else imagenPorDefecto" width="400px" height="264px" src="{{URLGetImage+novedades[2].file}}" alt="Imagen de Noticia"  onerror="this.src='../../../../assets/img/noticia_default.jpg'" >
              <ng-template #imagenPorDefecto>
                <img width="400px" height="264px" src="../../../../assets/img/noticia_default.jpg" alt="Imagen de Noticia">
              </ng-template>
            </div>
            <div class="resumen">
                <div class="titulo"><h6>{{novedades[2].tittle}}</h6></div>
                <div class="descripcion">{{ novedades[2].text | slice:0:350 }}
                  {{ novedades[2].text.length > 350 ? '...' : '' }}</div>

            </div>
          </a>
        </div>

        <span *ngIf="!novedades || novedades.length < 1 ; else VerNovedades"> NO EXISTEN NOVEDADES </span>
        <ng-template #VerNovedades>
          <div style="text-align: center; padding-bottom: 40px;" > <a  routerLink="/jugadores/novedades"> <u class="texto_rosa"> Ver todas las novedades</u> </a></div>
        </ng-template>

      </div>



      <div class="contenido torneos">
        <h4><u>Siguiente torneo </u></h4>
        <a routerLink="/jugadores/torneos">
          <img src="../../../../assets\img\Chiripones_cartel2023.jpg" width="280px">
        </a>
          <p>

            <strong style="font-size: 20px;">CHIRIPONES 2023</strong><span>&#x2600;&#xfe0f;</span>  <br>
            <br>
            <span class="texto_rosa">Fecha:</span><strong> 2 de Diciembre </strong> <br>
            <span class="texto_rosa">Localizalización :</span><strong> Punta Umbría </strong> <br><br>

            Ya están abiertas las inscripciones de Chiripones 2023!! <br>
            Un Mai Tai mientras esperas a jugar, un mojito para después de un partido, un Bloody Mary en el África...
            <span> &#127865;
            </span>

            <br><br>

            <strong>¿Aún no te has inscrito? Todavía puedes hacerlo! </strong>
            <br> <br><br>

            <a routerLink="/jugadores/torneos"> <u class="texto_rosa"> Ver próximos torneos</u> </a>
            <br><br>
          </p>

      </div>
      <div class="contenido footer"> <app-footer></app-footer> </div>


  </div>

</body>

