
<header class="header-top">
  <div class="social-icons">

      <span class="nombre-usuario">{{ usuarioLogueado }}</span>
      <img class="imagen-usaurio" src="../../../../assets/img/iconos/user-ng-2.png" alt="Email">

  </div>
</header>
<header class="header-bottom">
  <div class="logo-title" (click)="navigateToHome()">
      <img src="../../../../assets/img/chiripon_logo.png" alt="Logo">
      <div style="display: block; text-align: left;"> <h1>Frisbillanas </h1><h2>Area de jugadores</h2></div>

  </div>
  <nav class="main-menu" >
      <ul >
          <li><a routerLink="/jugadores/novedades" >NOVEDADES</a></li>
          <li><a routerLink="/jugadores/contenido" >CONTENIDO</a></li>
          <li><a routerLink="/jugadores/torneos" >TORNEOS</a></li>
          <li><a routerLink="/jugadores/spirit" >SPIRIT</a></li>

      </ul>

  </nav>
</header>

<!-- futuro FOOTER :
  <header class="header-top">
  <div class="social-icons">
      <a href="https://www.instagram.com/frisbillanas/" title="https://www.instagram.com/frisbillanas/"><img src="../../../../assets/img/iconos/instagram-ng.png" alt="Instagram"></a>
      <a href="https://m.facebook.com/groups/39805903499?ref=bookmarks" title="https://m.facebook.com/groups/39805903499?ref=bookmarks"><img src="../../../../assets/img/iconos/facebook-ng.png" alt="Facebook"></a>
      <a href="https://www.youtube.com/@frisbillanas" title="https://www.youtube.com/@frisbillanas"><img src="../../../../assets/img/iconos/youtube-ng.png" alt="YouTube"></a>
      <a href="https://ig.me/m/frisbillanas" title="https://ig.me/m/frisbillanas"><img src="../../../../assets/img/iconos/mensaje-ng.png" alt="Email"></a>
  </div>
</header>

-->



