@import "~bootstrap/dist/css/bootstrap.css";

/* Estilos para la cabecera superior */
.header-top {
  background-color: #cf6486;
  height: 35px;
  align-items: center;
  text-align: right;
  padding: 4px 20px;
}

.social-icons {

  height: 100%;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;

}


/* Estilos para la cabecera inferior */
.header-bottom {
  background-color: #000;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-title {
  display: flex;
  align-items: center;
}
.logo-title :hover{

  cursor: pointer;
}

.logo-title img {
  max-height: 120px;
  margin-right: z15px;
}

.logo-title h1 {
  color: #fff;
  font-size: 32px;
  font-family: "Mario Bros";
}
.logo-title h2 {
  color: #e6e3e3;
  font-size: 32px;
  font-family: "Adam bold";
}


.main-menu{

  display: flex;
  height: 100%;
  align-items: center; /* Esto alinea verticalmente el contenido */
  justify-content: center;
  margin-right: 20px;
}
.main-menu ul {
  display: flex;
  height: 100%;
  align-items: center; /* Esto alinea verticalmente el contenido */
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

.main-menu li {
  display: flex;
  height: 100%;
  align-items: center; /* Esto alinea verticalmente el contenido */
  justify-content: center;

  padding: 16px;
}

.main-menu li:hover{
  display: flex;
  height: 100%;
  align-items: center; /* Esto alinea verticalmente el contenido */
  justify-content: center;
  background-color: #cf6486;


  padding: 16px;
}




.main-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Adam bold";
}



/* Estilos para la cabecera superior */
.header-bottom2 {
  background-color: #ffffff00;
  height: 90px;
  line-height: 25px;
  text-align: left;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 36px;
  font-size: 20px;

}

.nombre-usuario{
  padding-right: 8px;
  color: #000000;
}
.imagen-usaurio{
  width: 30px;
  height: 30px;
}
