
<header class="header-top">
  <div class="social-icons">

      <span class="nombre-usuario">{{ usuarioLogueado }}</span>

      <img *ngIf="avatarLogueado!=''; else avatarPorDefecto" width="30px" height="30px" src="{{URLGetImageUser+avatarLogueado}}"
            style="border-radius: 50%; border: 1px solid black; text-align: center;"  alt="Imagen de Avatar"
          onerror="this.src='../../../../assets/img/iconos/usuario-40.png'">
        <ng-template #avatarPorDefecto>
          <a routerLink="/login"> <img width="30px" height="30px" class="rounded-0" src="../../../../assets/img/iconos/user-ng-2.png" alt="Imagen de Noticia"> </a>
        </ng-template>



  </div>
</header>
<header class="header-bottom">
  <div class="logo-title" (click)="navigateToHome()">
      <img src="../../../../assets/img/chiripon_logo.png" alt="Logo">
      <div style="display: block; text-align: left;"> <h1>Frisbillanas </h1><h2>Area de jugadores</h2></div>

  </div>
  <nav class="main-menu" >
      <ul >
          <li><a routerLink="/jugadores/home" >HOME</a></li>
          <li><a routerLink="/jugadores/novedades/1" >NOVEDADES</a></li>
          <li><a routerLink="/jugadores/contenido" >CONTENIDO</a></li>
          <li><a routerLink="/jugadores/torneos" >TORNEOS</a></li>
          <li><a routerLink="/jugadores/spirit" >REGLAMENTO</a></li>

      </ul>

  </nav>
</header>







