<header class="header-top">
  <div class="social-icons">
      <a href="#"><img src="../../../../assets/img/iconos/instagram-ng.png" alt="Instagram"></a>
      <a href="#"><img src="../../../../assets/img/iconos/facebook-ng.png" alt="Facebook"></a>
      <a href="#"><img src="../../../../assets/img/iconos/youtube-ng.png" alt="YouTube"></a>
      <a href="#"><img src="../../../../assets/img/iconos/mensaje-ng.png" alt="Email"></a>
  </div>
</header>
<header class="header-bottom">
  <div class="logo-title">
      <img src="../../../../assets/img/chiripon_logo.png" alt="Logo">
      <p>
      <h1>Frisbillanas <br><h4>Área de jugadores</h4></h1>






  </div>
  <nav class="main-menu">
      <ul>
          <li><a href="#">NOVEDADES</a></li>
          <li><a href="#">CONTENIDO</a></li>
          <li><a href="#">TORNEOS</a></li>
          <li><a href="#">SPIRIT</a></li>
      </ul>
  </nav>
</header>
